body,
html {
	height: 100%;
	padding-top: 25px;
	width: 100%; 
	margin: 0; 
}

#map {
	width: 70%;
	height: 100%;
	float: left;
	z-index: 1;
}

#rightside {
	width: 30%;
	height: 100%;
	position: fixed; 
	background-color: snow;
	left: 70%;
}

/* toolbar */

div#toolbar {
	width: 600px;
	height: 50px;
	position:relative;
	left: 50px;
	top:550px;
	z-index:10;
	/*background:#000;*/
}
div#toolbar ul{
	overflow:hidden;
}
div#toolbar ul li{
	float:left;
	padding-right:10px;
	line-height:50px;
	display:block;
}
div#toolbar ul li a{
	color:#30C;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
}

/* css for chord diagram */

body {
  font: 10px sans-serif;
}

.group-tick line {
  stroke: #000;
}

.ribbons {
  fill-opacity: 0.67;
}
